@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-ThinD4.woff) format('woff');
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-ThinD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-UltraLightD4.woff) format('woff');
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-UltraLightD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-LightD4.woff) format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-LightD4.woff) format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-MediumD4.woff) format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-MediumD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-DemiBoldD4.woff) format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-DemiBoldD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-ExtraBoldD4.woff) format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-ExtraBoldD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-BlackD4.woff) format('woff');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-BlackD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-ExtraBlackD4.woff) format('woff');
    font-display: swap;
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-ExtraBlackD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-HeavyD4.woff) format('woff');
    font-display: swap;
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-HeavyD4.woff2) format('woff2');
    font-display: swap;
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-BoldD4.woff) format('woff');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-BoldD4.woff2) format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff/IRANSansXFaNum-RegularD4.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont';
    src: url(/static/assets/fonts/IRANSansX/woff2/IRANSansXFaNum-RegularD4.woff2) format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '__IRANSansXFont_Fallback';
    src: local("Arial");
    ascent-override: 98.13%;
    descent-override: 49.06%;
    line-gap-override: 0.00%;
    size-adjust: 101.91%
}




/*
 #############
 #############
 #############
 */


@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-Thin.woff) format('woff');
    font-display: swap;
    font-weight: 100;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-Thin.woff2) format('woff2');
    font-display: swap;
    font-weight: 100;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-Light.woff) format('woff');
    font-display: swap;
    font-weight: 300;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-Light.woff2) format('woff2');
    font-display: swap;
    font-weight: 300;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-Regular.woff) format('woff');
    font-display: swap;
    font-weight: 500;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-Regular.woff2) format('woff2');
    font-display: swap;
    font-weight: 500;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-SemiBold.woff) format('woff');
    font-display: swap;
    font-weight: 600;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-SemiBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 600;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-ExtraBold.woff) format('woff');
    font-display: swap;
    font-weight: 800;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-ExtraBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 800;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-Black.woff) format('woff');
    font-display: swap;
    font-weight: 900;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-Black.woff2) format('woff2');
    font-display: swap;
    font-weight: 900;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-ExtraBlack.woff) format('woff');
    font-display: swap;
    font-weight: 950;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-ExtraBlack.woff2) format('woff2');
    font-display: swap;
    font-weight: 950;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-Bold.woff) format('woff');
    font-display: swap;
    font-weight: bold;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-Bold.woff2) format('woff2');
    font-display: swap;
    font-weight: bold;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff/YekanBakhFaNum-Regular.woff) format('woff');
    font-display: swap;
    font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url(/static/assets/fonts/YekanBakh/woff2/YekanBakhFaNum-Regular.woff2) format('woff2');
    font-display: swap;
    font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'YekanBakh Fallback';
    src: local("Arial");
    ascent-override: 99.72%;
    descent-override: 54.84%;
    line-gap-override: 0.00%;
    size-adjust: 100.28%;

}

body {
    font-family: 'YekanBakh', '__IRANSansXFont', '__IRANSansXFont_Fallback', IRANSansX, IRANSans, IRANYekan, tahoma
}